.product-link,.product-link:hover, .product-link:active, .product-link:visited{
    text-decoration: none;
    color: #333333;
}

.product-item .card-text{
    height: 48px;
    overflow: hidden;
}

.product-item .created-at{
    font-size: 65%;
    font-weight: 400;
}

.product-item .price-tag{

}

.product-item hr{
    margin-top: 0.3rem;
}